@import 'atropos/css';
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.swiper-pagination-bullet-active {
    color: red;
    background: red;
  }


